<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/bootstrap.css') }}">
    <title>Forest Cover Display...</title>
  </head>
  <body bgcolor="#78C0E0">
  	<div class="container">
    <h1 class="text-muted p-4">Forest Cover Analysis Using Satellite Image Processing</h1>
    <hr>
    <div id="app">
      <form action="addnew" id="addLocationForm">
        <div class="row">
          <div class="col">
            <label>Location Name</label>
            <input type="text" class="form-control" id="name" name="location">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="label">Lat:</label>
              <input type="text" class="form-control" id="lat" name="lat">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="label">Lng:</label>
              <input type="text" class="form-control" id="lng" name="lng">
            </div>
          </div>
        </div>
      <input type="submit" class="btn btn-success" value="Add Location">
    </form>

      <div class="alert alert-success m-2" v-if="success">Location added successfully</div>
        <div class="card m-2 p-2 shadow-sm"  v-for="path in images">
          <div class="card-body">
            <h5>[[ path[1] ]]</h5>
            <img :src="'/static/Images/' + path[0] + '.png'">
          </div>
        </div>  
      </div>
    </div>

    <script src="{{url_for('static', filename='js/jquery-3.5.0.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
  </body>
</html>